/* body {
  padding-top: 3rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
} */
body::before {
  display: block;
  content: "";
  height: 3.5rem;
}
.carousel {
  margin-bottom: 7rem;
}
.carousel-item {
  height: 32rem;
}
.bg-img1 {
  background-color: #000;
  background-size: cover;
  background-image: url("../images/bg-img1.jpg");
  /* Focus on top center of the image */
  background-position: top center;
}

.bg-img2 {
  background-color: #000;
  background-size: cover;
  background-image: url("../images/bg-img2.jpg");
  /* Focus on bottom left of the image */
  background-position: bottom left;
}

.bg-img3 {
  background-color: #000;
  background-size: cover;
  background-image: url("../images/bg-img3.jpg");
  /* Focus on center of the image */
  background-position: center center;
}
